#gameDiv {
    position:fixed;
    top: 34%;
    left: 53%;
    width:400;
    height:490;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}